__pycache__/
*.pyc
*.pyo
*.pyd
env/
venv/
instance/
*.db
.DS_Store
.cache/
chat_history.json
data/pdf.index
data/pdf_metadata.pkl
data/pdfs/cours_algebre_2.pdf
data/pdfs/Electromagnétisme 2025.pdf
data/pdfs/suites_et_séries_de_fonctions_complet.pdf
data/pdfs/séries_entières_complet.pdf
data/pdfs/série_numérique_complet.pdf
